body, html, *{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
