.popup{
    background-color: #0000006e;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-card{
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
}