$primary-color: #0783ff;
$primary-color-hover: #6aa8ff;

.btn_primary{
    background-color: $primary-color;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: $primary-color-hover;
        color: #fff;
        transform: scale(1.1);
    }
}

.btn_primary_line{
    @extend .btn_primary;
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
}