.containers{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    gap: 15px;
}

.col{
    flex: 1;
    max-width: 200px;
    min-width: 200px;
}

img{
    width: 100%;
    height: auto;
}